
<!-- <div class="container" *ngFor="let item of itemDetail;"> -->
    <mat-grid-list rowHeight="500px" [cols]="breakpoint" (window:resize)="onResize($event)" *ngFor="let item of itemDetail;" >
     
        <mat-grid-tile  [style.backgroundColor]="'#D72568'">
            <!-- <mat-card-subtitle>My Cart -->
        <mat-card>
        <ngx-image-zoom
        [thumbImage]=item.imaggeUrl
        
        [fullImage]=item.imaggeUrl
       
        [enableLens] = true
        [zoomMode] =hover
        [enableScrollZoom] =true
        [enableLens]=true
        [magnification] =2
        [circularLens] = true	
        
    ></ngx-image-zoom>
  
   
      <button mat-raised-button color="warn" (click)="addToCart();" style="float:right;text-transform: none;"  >
        <mat-icon>shopping_cart</mat-icon> 
        Add to Cart 
     </button >
   
   
  </mat-card>
  

  <!-- </mat-card-subtitle> -->
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card>
                
                     <mat-list>
                        <mat-list-item>
                        Category {{item.categoryName}}
                          {{item.itemDescription}} &nbsp;&nbsp; Size  {{item.sizeName}}
                        </mat-list-item>
                      <mat-list-item style= "-webkit-text-fill-color:crimson "  >Available Quantity : {{item.availableQty}}</mat-list-item>
                      <mat-list-item><s>Total Price: &#8377; {{item.price}}</s>
                        <img border="0" alt="Information" src="../../../assets/download.jpg" width="30" height="30" (mouseenter)="overTitle()" (mouseleave)="overTitle()">
                      </mat-list-item>
                      <mat-list-item  id = "hover" class="alert alert-info" role="alert" *ngIf="showSelected" style="position:fixed" >
                          <ul style="-webkit-text-fill-color: indigo"  >
                            <li  >
                              Color: {{item.color}} <span><img border="0" alt="Information" src="../../../assets/emoji/wealthy-emoticon.gif" width="60" height="60"></span>
                            </li>
                            <li >
                              Brand: {{item.brand}}
                            </li>
                            <li >
                            Delivery Charges : ₹ {{item.deliveryCharges}}
                            </li>
                            
                          </ul>
                      </mat-list-item>  
                    <mat-list-item>Offer Price:  &#8377; {{item.offerPrice}} </mat-list-item>
                    <mat-list-item>Size: {{item.sizeName}} </mat-list-item>
                    <mat-list-item>Category {{item.categoryName}} </mat-list-item>
                    <mat-list-item>Brand {{item.brand}} </mat-list-item>
      


            <mat-list-item>Delivery: By Courier </mat-list-item>  
                <mat-list-item>Fabric: Pure Cotton </mat-list-item> 
            
         </mat-list>
      
     </mat-card>
  </mat-grid-tile>
</mat-grid-list>



<!-- 
<script>
    
    $('#74').ezPlus();
    
</script> -->