<form  class="container was-validated" role="form"  [formGroup]="myform" 
role="form"  >

<div class="form-group"
[ngClass]="{
 'has-danger': myemail.invalid && (myemail.dirty || myemail.touched),
 'has-success': myemail.valid && (myemail.dirty || myemail.touched)
}">

<label>Enter Email</label>
<input type="email" 
    class="form-control form-control-sm"
    formControlName="myemail"
    required>
<div class="form-control-feedback"
  *ngIf="myemail.errors && (myemail.dirty || myemail.touched)">
<p *ngIf="myemail.errors.required">Email is required</p>
<p *ngIf="myemail.errors.pattern">The email address must contain at least the @ character</p>
</div>

</div>




<div class="form-group"
[ngClass]="{
 'has-danger': password.invalid && (password.dirty || password.touched|| password.pristine),
 'has-success': password.valid && (password.dirty || password.touched)
}">
<label>Password</label>
<input type="password"
    class="form-control form-control-sm"
    formControlName="password"
    required>
<div class="form-control-feedback"
  *ngIf="password.errors && (password.dirty || password.touched)">
<p *ngIf="password.errors.required">Password is required</p>
<p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
</div>
</div>