<form  class="container was-validated" role="form"  [formGroup]="myform" 
role="form"  >


<div class="form-group"  >
    
    <input type="email" placeholder="Email id" formControlName="username" class="form-control" >
    <span class="help-block" *ngIf="(myform.get('username').touched ||
                                     myform.get('username').dirty) &&
                                     myform.get('username').errors">
            <span class="alert-danger form-control " *ngIf="myform.get('username').errors.required">Please enter email id</span>                        
    </span>

  </div>

 
 <div>
  <div style = "margin-left :40px;" class="text-danger font-weight-bold" >{{err}}</div>
</div>

 
</form>

<div class = "container">
  <table class="table">  
    <tr>
        <td>
            <button class="btn btn-success " style="text-transform:none" (click)="SendMail()" >Submit</button>
        </td>
      
        <td>
          <button class="btn btn-success " style="float:right" (click)="RedirectToLogin()" >Login</button>
        </td>
    </tr>
    </table>

