<form  class="container was-validated" role="form"  [formGroup]="myform" 
role="form"  >


<div class="form-group"  >
    
    <input class="form-control" type="email" placeholder="Email id" formControlName="username" class="form-control" >
    <span class="help-block" *ngIf="(myform.get('username').touched ||
                                     myform.get('username').dirty) &&
                                     myform.get('username').errors">
            <span class="alert-danger form-control " *ngIf="myform.get('username').errors.required">Please enter email id</span>                        
    </span>

  </div>

 
 <div>
  <div style = "margin-left :40px;" class="text-danger font-weight-bold" >{{err}}</div>
</div>

  <div class = "pull-right" style=" margin:top 80px;margin:bottom 20px">
  <button class="btn btn-success " style="text-transform:none" (click)="SendMail()" >Submit</button>
  </div>

  <div class = "pull-left" style=" margin:top 80px;margin:bottom 20px">
    <button class="btn btn-success " style="text-transform:none" (click)="RedirectToLogin()" >Login</button>
 </div>
</form>


