<div class="container was-validated">

<form   role="form"  [formGroup]="myform"  >
  <div class="form-group"
       [ngClass]="{
        'has-danger': myemail.invalid && (myemail.dirty || myemail.touched),
        'has-success': myemail.valid && (myemail.dirty || myemail.touched)
   }">

   <label>Email</label>
    <input type="email" 
           class="form-control form-control-sm"
           formControlName="myemail"
           required>
    <div class="form-control-feedback"
         *ngIf="myemail.errors && (myemail.dirty || myemail.touched)">
      <p *ngIf="myemail.errors.required">Email is required</p>
      <p *ngIf="myemail.errors.pattern">The email address must contain at least the @ character</p>
    </div>

  </div>

  <div class="form-group"
  [ngClass]="{
   'has-danger': password.invalid && (password.dirty || password.touched|| password.pristine),
   'has-success': password.valid && (password.dirty || password.touched)
}">
<label>New Password</label>
<input type="password"
      class="form-control form-control-sm"
      formControlName="password"
      required>
<div class="form-control-feedback"
    *ngIf="password.errors && (password.dirty || password.touched)">
 <p *ngIf="password.errors.required">Password is required</p>
 <p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
</div>
</div>
  


<div class="form-group"
[ngClass]="{
 'has-danger': confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched|| confirmpassword.pristine),
 'has-success': confirmpassword.valid && (confirmpassword.dirty || confirmpassword.touched)
}">
<label>Confirm New Password</label>
<input type="password"
    class="form-control form-control-sm"
    formControlName="confirmpassword"
    required>
<div class="form-control-feedback"
  *ngIf="confirmpassword.errors && (confirmpassword.dirty || confirmpassword.touched)">
<p *ngIf="confirmpassword.errors.required">Confirm Password is required</p>
<p *ngIf="confirmpassword.errors.minlength">Confirm Password must be 8 characters long, we need another {{confirmpassword.errors.minlength.requiredLength - confirmpassword.errors.minlength.actualLength}} characters </p>
</div>
</div>


 <div>
  <div style = "margin-left :40px;" class="text-danger font-weight-bold" >{{err}}</div>
</div>


</form>
</div>
<div class="container">
<table class="table">
   
    <tr >
      <td>
       <button class="btn-success " (click)="changepassword()" >Submit</button>
      </td>
    
    <td >
      <button class=" btn-success pull-right"  (click)="RedirectToLogin()" >Login</button>
    </td>
  </tr>
  </table>

</div>