<div *ngIf="loading" >  
    <img src ="../assets/loading/loading.gif" class = "header-shadow" > 000Loading ...
</div>
<div class="container">
    
<table class="table table-striped table-border">
  <tbody>
      <tr>
        <th>Item</th>
        <th>Color</th>
        <th>Quantity</th>
        <th >Offer Price</th>
        <th>&nbsp;</th>
      </tr>
       
      <tr *ngFor="let item of cartItems; let i = index" [attr.id] =item.itemId >
        <td>{{item.itemname}}</td>
        <td>{{item.colorname}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.offerprice}}</td>
        <td><input type = button class ="btn btn-success" (click)="RemoveItems(item.itemId,item.quantity,item.id)" value = "Remove" ></td>
        </tr>
       
</tbody>
</table>
<div class ="row pull-right" >
  <div class = col-md-6>
  <input type = button class ="btn btn-info pull-right" (click)= "placeOrder();"value = "Place Order" >
</div>
</div>
</div>
