<div class="container">
    <div class="row row-centered pos">
    <div class="col-md-12 col-xs-12">
      
        
        <ngx-datatable 
          #myTable
          class="material expandable" style="height:350px"
          [columnMode]="'force'"
          [headerHeight]="30"
          [footerHeight]="50"
          [rowHeight]="250"
          [scrollbarV]="true"
          [rows]='rows'
          [limit]="3"
          (page)="onPage($event)">
        
          <!-- Row Detail Template -->
          <!-- <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div style="padding-left:35px;">
                <div>Item Id : {{row.itemId}}</div>
                <div>Delivery Charges : {{row.deliveryCharges}}</div>
                <div> <img [src]="row['imageUrl']" height="50" width="50" > </div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail> -->
  
          <!-- Column Templates -->
           <!-- <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                href="javascript:void(0)"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)">
              </a>
            </ng-template>
          </ngx-datatable-column> -->
         
          <ngx-datatable-column width="100">
                <ng-template ngx-datatable-header-template>
                        <span>Cart Items </span>
                 </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="container">
                <div class="row">
                  <div class ="col-md-12">
                   <h4> Item Name : 
                  <i [innerHTML]="row['itemname']"></i> </h4>
                  </div>
                </div>
                <div class="row">
                    <div class ="col-md-12">
                      <img [src]="row['imageUrl']" height="50" width="50" ><br>
                    </div>
                </div>
                <div class="row">
                    <div class ="col-md-12">    
                     Price : <i [innerHTML]="row['price']"></i>
                </div>
                </div>
                <div class="row">
                    <div class ="col-md-12">        
                    Offer Price : <i [innerHTML]="row['offerprice']"></i><br>
                  </div>
                </div>  
                
                <div class="row">
                    <div class ="col-md-12">    
                     Saved : <i [innerHTML]="(+row['price']) - (+row['offerprice'])"></i><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class ="col-md-12">
                          Color : <i [innerHTML]="row['colorname']"></i>
                    </div>
                    </div>
                    <div class="row">
                        <div class ="col-md-12">
                    Quantity : <i [innerHTML]="row['quantity']"></i><br>
                    </div>
                    </div>

                    <div class="row">
                        <div class ="col-md-12">
                           <button class ="btn btn-success" style="width:80px" (click)="RemoveItems(row['itemId'],row['quantity'],row['id'])" >
                              <i class="fa fa-trash">  Delete</i> 
                           </button>
                       </div>
                    </div>
              </div>     
            </ng-template>
          </ngx-datatable-column>

          <!-- <ngx-datatable-column width="50">
            <ng-template ngx-datatable-header-template>
              <span>&nbsp;</span>    
             </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
         <img [src]="row['imageUrl']" height="50" width="50" > 
        </ng-template>
      </ngx-datatable-column>

          <ngx-datatable-column width="80">
            <ng-template ngx-datatable-header-template>
                    <span>Price</span>
             </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <i [innerHTML]="row['price']"></i>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column width="80">
        <ng-template ngx-datatable-header-template>
                <span>Offer Price</span>
         </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['offerprice']"></i>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column width="80">
    <ng-template ngx-datatable-header-template>
            <span>Saved</span>
     </ng-template>
<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <i [innerHTML]="(+row['price']) - (+row['offerprice'])"></i>
</ng-template>
</ngx-datatable-column>


      
          <ngx-datatable-column width="50">
                <ng-template ngx-datatable-header-template>
                        <span>Color</span>
                 </ng-template>
            
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <i [innerHTML]="row['colorname']"></i> 
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column width="30" >
                <ng-template ngx-datatable-header-template>
                        <span>Quantity</span>
                 </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <i [innerHTML]="row['quantity']"></i>
                </ng-template>


          </ngx-datatable-column>
        <ngx-datatable-column width="30">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button class ="btn btn-success" style="width:80px" (click)="RemoveItems(row['itemId'],row['quantity'],row['id'])" >
                  <i class="fa fa-trash">  Delete</i> 
                </button>
              </ng-template>


          </ngx-datatable-column> -->

        </ngx-datatable>
        <p style="margin-left: 350px;margin:top 1px">You saved Rs : {{saveSum}}</p>
        <p style="margin-left: 350px;">Paid Amount  Rs : {{OfferPriceSum}}</p>
        <div class="row pull-right"   >
          <div class="col-xs-12">
            <input type = button class ="btn btn-info" (click)= "placeOrder();"value = "Place Order" >
          
          </div>
          </div> 
      
      </div>
       </div>
      
     
         
      </div>