
<!-- <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" > -->
    <form [formGroup]="loginForm" >

    <div class="small-box bg-red">
        <div class="inner">
          <p>Hi Visitors</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <p class="small-box-footer">Proceed with Login<i class="fa fa-arrow-circle-right"></i></p>
      </div>

      <div *ngIf="loading" >  
        <img src ="../assets/loading/loading.gif" class = "header-shadow" > 000Loading ...
      </div>

  <div box box-primary>
<div class="col-md-12 col-md-offset-3 box-header with-border" style="position:relative;top:50px;"
 [ngClass]="{'has-error':(loginForm.get('username').touched || loginForm.get('username').dirty)}">
  

 
 <div class="form-group"  >
    
      <input class="form-control" type="email" placeholder="Email id" formControlName="username" class="form-control" >
      <span class="help-block" *ngIf="(loginForm.get('username').touched ||
                                       loginForm.get('username').dirty) &&
                                       loginForm.get('username').errors">
              <span class="alert-danger form-control " *ngIf="loginForm.get('username').errors.required">Please enter email id</span>                        
      </span>
  
    </div>
    <div class="form-group">
      <!-- <label for="pwd">Password:</label> -->
      <input class="form-control" type="password" placeholder="Password" formControlName="password"  class="form-control">
      <span class="help-block " *ngIf="(loginForm.get('password').touched ||
      loginForm.get('password').dirty) &&
      loginForm.get('password').errors">
<span class="alert-danger form-control" *ngIf="loginForm.get('password').errors.required">Please enter password</span>                        
</span>
    
    
    </div>
    <!-- <div class="form-group form-check"> -->
      <div>
      <!-- <label class="form-check-label"> -->
        <!-- <input formControlName="rememberme" class="form-check-input" type="checkbox"> Remember me -->
        <button class="btn btn-success pull-right" style="text-transform:none" (click)="forgetpassword()" >Forget Password</button>
      <!-- </label> -->
    </div>

   
    <div class="">
        <button class="btn btn-success" style="position:inherit;top:30px;margin-left:0px;text-transform:initial" type="submit" [disabled]="!loginForm.valid" (click)="onSubmit()" >Submit</button>
        <button class="btn btn-info pull-right" style="text-transform:none"  (click)= "openModalDialog()" >Not a Member</button>
        <button class="btn btn-success pull-right" style="text-transform:none" (click)="changepassword()" >Change Password</button>
      </div>
</div>
</div>


<!-- <div class="backdrop" [ngStyle]="{'display':display}"></div> -->

<!-- modal -->




<div class="modal form-group "   tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content" style="background-color:burlywood" >
      <!-- modal-header -->
      <div class="modal-header"style="background-color:blue" >
        <button type="button" class="close" aria-label="Continue" (click)="closeModel()"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body">
        
            <div class="form-group">
                <input type="text"  formControlName="mobileNumber" required placeholder="Mobile Number" >
                <span  *ngIf="(loginForm.get('mobileNumber').touched ||
                loginForm.get('mobileNumber').dirty) &&
                loginForm.get('mobileNumber').errors">
                <span class="alert-danger" *ngIf="loginForm.get('mobileNumber').errors.required">Please Enter Valid Mobile Number</span>                        
                </span>
            
              </div>
            <div>
              Once you click on continue button, you will receive OTP in your mobile.   
            </div>  
      </div>

      <!-- modal-footer -->
      <div *ngIf="isOk">
        <div style = "margin-left :40px;" class="text-danger font-weight-bold" >{{err}}}</div>
      </div>
      <div class="modal-footer" style="background-color:rgb(137, 202, 73)" >
        <button type="button" class="btn btn-default" style="text-transform:none" (click)="closeModalDialog()" >Continue</button>
      </div>
    </div>
  </div>
</div>

</form>