<!-- <script type="text/javascript" src="jquery-1.3.2.js"></script>
<script type="text/javascript" src="jquery.livequery.js"></script> -->

<div align="left" class="form-control">
	
	
	
	<div id="wrap" align="center">
		
		<!-- <a id="show_cart" href="javascript:void(0)">View Cart</a> -->
		
		<ul *ngFor="let item of items; let i=index">

				<li attr.id = {{item.rowNum}}  >


					<a  target="_blank" [routerLink]="['/itemDetail/',item.itemid]">
						<img [src]= item.imaggeUrl class="items" height="100"  />
					</a>

						<br clear="all" />
						<div>{{item.itemName}}</div>

				</li>
		</ul>					
					
	</div>
	</div>

	
	<!-- <div class="detail-view"   attr.id = detail-{{item.rowNum}}>
			
		<div class="close" align="right">
			<a href="javascript:void(0)">x</a>
			
		</div>
		
		<img [src]= item.imaggeUrl class="detail_images" width="340" height="310" alt="" />
		
		<div class="detail_info">
			
			<label class='item_name'>{{item.itemName}}</label>
			<br clear="all" />
			
			<p>
				{{item.itemDescription}}
			
				<br clear="all" /><br clear="all" />
				Rs.<span class="price">{{item.price}}</span>
				
			</p>
			
			<br clear="all" />
			
			<button  class="add-to-cart-button">Add to Cart</button>
			
		</div>
	</div>			 -->
<!-- <div class="footer">
		
</div> -->



