
  <app-dynamic-menu></app-dynamic-menu>
<div class="mt-0">
<div class="row bg-light">
  <div class = "col-md-12  border">
    <div class = "pull-left">
        <button [routerLink]="['']" class ="btn text-success" style="width:50px; " > <i class="fa fa-home fa-fw aria-hidden=true" aria-hidden="true"></i></button>
    </div>


<div class="pull-right"  >
  <div class="input-group d-inline">
    
    <input type="text" style="line-height:1.8" placeholder="Search" class="input:focus" name="search" [(ngModel)]="itemname" >
    <span class="input-group-btn">
      <button type="button" (click)="searchResult()" style = "width:6%; "class="btn btn-success "><i class="fa fa-search"></i></button>
      <!-- <button type="button" [routerLink]="['/search',itemname]"  style = "width:60%"class="btn btn-info"><i class="fa fa-search"></i></button> -->
    </span>
</div>
 
    <button class= "btn text-success text-right"  (click)="RedirectToLogin()" style=" width: 110px"  >Sign In
    <span>
            <i class="fa fa-sign-in"></i>
    </span>
  </button>
 
  
  <button class= "btn text-success " style="width:70px;"   (click)="getCheckedInItems()" >
    <span>
        
            <i class="fa fa-shopping-cart"></i>
            <span class="label label-success rounded-circle"> {{totalItem.totalCartItem}}</span>
         
    </span>
  </button>
  

  </div>
</div>
</div>

</div>

<div >
  <router-outlet  ></router-outlet>

</div>

  





<!-- Footer -->
<footer class="footer">
    
    <div class="row">
        <div class="col-md-2 col-sm-2">
              <a class="btn btn-block btn-social"  [routerLink]="['ContactUs']" >
                  <span class="fa fa-phone"></span>Contact Us</a>
        
        </div>
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-block btn-social "  [routerLink]="['AboutUs']" >
              <span class="fa fa-info"></span>AboutUs</a>
        </div>
 </div>




    <div class="container text-center">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-skype"></i></a>
    </div>
  </footer>




 