
  <app-dynamic-menu></app-dynamic-menu>
<div class="mt-0">

    <a [routerLink]="['']" class="ml-3" > <i class="fa fa-home fa-fw aria-hidden=true" aria-hidden="true"></i></a>
    <div class="pull-right d-inline">
          <input type="text" style="line-height:1.5" placeholder="Search" class=" input:focus" name="search" [(ngModel)]="itemname" >
          <a style="margin-left: -3px;"  class="cur" (click)="searchResult()" ><i class="fa fa-search"></i></a>
       
            <a class="ml-3 cur" (click)="RedirectToLogin()" >  Sign In  <i class="fa fa-sign-in"></i></a>
        
        <a class= "text-success cur " style="width:70px;margin-top: -3px"  (click)="getCheckedInItems()" >
          <span  >
                  <i class="fa fa-shopping-cart"></i>
                  <span class="label label-success rounded-circle"> {{totalItem.totalCartItem}}</span>
          </span>
        </a>
  </div>

</div>




<div class="mt-5" >
  <router-outlet  ></router-outlet>

</div>

  





<!-- Footer -->
<footer class="footer ">
  <div>
              <a class="pl-2"  [routerLink]="['ContactUs']" >
                  <i class="fa fa-phone"></i>Contact Us</a>
            <a class="pl-2"  [routerLink]="['AboutUs']" >
              <i class="fa fa-info"></i>AboutUs</a>
        
 </div>
 



    <div class="container text-center">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-skype"></i></a>
    </div>
  </footer>




 