<p>
  home works!

</p>



<div  class = "container">
    <div class="row">
  <div class = "col-md-6">
  <ngb-carousel >
    <ng-container *ngFor = "let item of imageItems;let i = index;">
  <ng-template   ngbSlide [id]=i >
      
              <img [src]=item height="200" width="450" />
                   
  </ng-template>
  </ng-container>
  </ngb-carousel>
</div>
<div class = "col-md-6">
    <div style="height: 200px;">
      <ngx-slider [init]="slider"></ngx-slider>
    </div> 
</div>
</div>
</div>
  

  <div id="wrap" [innerHTML] = "dynamicHtml |safe:'html'" >
      <div class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollUpDistance]="1.5"
      [infiniteScrollThrottle]="50"
      (scrolled)="GetPageResult()"
      [scrollWindow]="true" >
      
  </div>
  </div>

 


