
      <app-sliders></app-sliders>


  
<div  infiniteScroll (scrolled)="onScrollDown()" [scrollWindow]="true" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50">

 <div style="background-color: dimgray" class = "ui four cards justify-content-center">
  <div *ngFor="let item of itemsarr;let i=index" style= "padding: 10px;">
 

    <a target='_blank' [routerLink]="['/itemDetail/',item.itemid]" class ="red card">

      <div class="image" >
        <img style="width:150px;height:150px;" [src]=item.image>
      </div>
      <div class="">
        <a class="header">{{item.itemName}}</a>
        <div class="meta">
          <span class="date">Color : {{item.color}}</span>
        </div>
        <div class="description">
         {{item.itemDescription}}
        </div>
      </div>
      <div >
        
          <i class="user icon"></i>
          Brand : {{item.brand}}
       
      </div>


</a>
            </div>
        </div>
     </div>
 
