
.navbar{
    background: rgb(157, 87, 206) !important;
}

.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #6895bd;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#c74879;
    color:rgb(42, 22, 221);
}
.dropdown-menu a{
    color:#fff;
} 
.navbar .nav-item .nav-link{
    color:#eee !important; 
    
}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;
    
}