<div class ="container ">
  <h2>Shipping Policy</h2>
  <hr>
  <div class ="mt-4 text-justify">
      Upon booking the order, customers will get an SMS or an Email about their booking detail with contact telephone number.
       The customer will also get a call from our support person regarding your 
       purchase confirmation. 
<br><br>
        Usually your booked/purchased item(s) is/are delivered within 3- 5 working days  from the booking 
        date and time. Customers are requested to show the order SMS/Email and mention and 
        valid Government Photo Id (Aadhar Card/Pan Card/ Voter Id/Driving License etc.)  
        to the delivery person. 
        <br>
        <br>
        If the delivery person requests to change the purchased items or requests 
        to pay more than what is quoted, please call our support 
        number +91 8860658739. Our delivery office is opened 
        from 9:30am – 6:30pm Indian Standard Time (IST) Monday through Saturday except for holidays. 
</div>
</div>