
<div class ="container ">
  <h2>Payment</h2>
  <hr>
  <div class ="mt-4 text-justify">
    <b>Option 1 : Cash on Delivery</b>
    Customers will have to pay in Cash on Delivery(COD) form to the delivery person. Customer should insist to provide the bill with proper taxation etc from the person who delivers the item. 
    The total price will be in the SMS or email sent to the Customer after purchase.
    
 <br><br>
    
    <b>Option 2:</b> Booking Advance Payment using Credit/Debit/Net banking options.
  
</div>
</div>